.GridNewPage {
  /* background-color: rgb(240, 240, 240); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 1fr;
  transition: all 0.3s ease;    
}

.GridNewPage form,
.GridNewPage .grid-panel {
  align-self: stretch;
  padding: 12px;
  /* border: 1px solid black; */
}

.GridNewPage .grid-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;  
  justify-self: stretch;
  align-self: stretch;
  padding: 12px;
}

.GridNewPage .grid-panel {

}

/* .GridNewPage .grid-panel .grid-container {
  border: 1px solid black;
} */

@media (min-width: 768px) {
  .GridNewPage { 
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;    
  }  
} 

@media (min-width: 1024px) {
  .GridNewPage {
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(1, 1fr);    
  }
}

@media (min-width: 1400px) {
  .GridNewPage {
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(1, 1fr);    
  }
}