.GridListPage {
  /* background-color: rgb(240, 240, 240); */ 
}

.GridListPage .grid-item {
  justify-self: stretch;
  align-self: stretch;
  border: 2px solid white;
  -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.3);  
  display: grid;
}

.GridListPage .grid-item .grid-item-container {
  justify-self: center;
  align-self: center;
  text-align: center;
  display: grid;
  color: white;
}

.GridListPage .grid-item .grid-item-container .page-title {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 3vmax;
  line-height: 1.1;  
}

.GridListPage .grid-item .grid-item-container .grid-title {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 3vmax;
  line-height: 1.1;  
}

.GridListPage .grid-item .grid-item-container .grid-description {
  margin-top: 10px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 2vmax;
  line-height: 1.1;   
}

@media (min-width: 768px) {
  .GridListPage { 

  }  
} 

@media (min-width: 1024px) {
  .GridListPage {
  
  }
}

@media (min-width: 1400px) {
  .GridListPage {
  
  }
}