.LandingPage {
  /* background-color: rgb(240, 240, 240); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;   
}

@media (min-width: 768px) {
  .LandingPage { 

  }  
} 

@media (min-width: 1024px) {
  .LandingPage {
  
  }
}

@media (min-width: 1400px) {
  .LandingPage {
  
  }
}