.App {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: [header-start] 55px [header-end content-start] auto [content-end];
  /* grid-row-gap: 7px; */
  align-items: stretch;
  justify-items: stretch;
}

main {
  display: grid;
}

/* Colors */

.bg-white { background-color: white; }
.bg-1 { background-color: rgb(29,165,204); }
.bg-2 { background-color: rgb(68,134,153); }
.bg-3 { background-color: rgb(11,155,75); }
.bg-4 { background-color: rgb(170, 13, 13); }
.bg-5 { background-color: rgb(148, 74, 40); }

.text-white { color: white;  }
.text-1 { color: rgb(29,165,204); }
.text-2 { color: rgb(68,134,153); }
.text-3 { color: rgb(11,255,175); }
.text-4 { color: rgb(255,85,75); }
.text-5 { color: rgb(204,132,155); }

/* Helpers */

.mt-1 { margin-top: 12px; }
.mt-2 { margin-top: 18px; }
.mt-3 { margin-top: 24px; }
.ml-1 { margin-left: 12px; }